*{
    margin: 0;
}
body{
    background-color: #DEDEDE;
}
header{
    background-color: #212529;

    filter: drop-shadow(0px 1px 5px #F48221);
    display:flex;
    flex-direction: row;
    align-content: center;
}
footer{
    width: 100%;
    height: 100px;
    background-color: #f4832100;
    margin-top: 10px;
}
#logo{
    width: 250px;
    margin-left: 0px;
}
#pagetitle{
    width: 250px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
#forbutton{
    width: 250px;
}
header h1{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: normal;
}
#logoImg{
    width: 160px;
    height: 100px;
}
main{
    background-color: #DEDEDE;
    display: flex;
    flex-direction: row;
}
#main_block{
    width: 100%;
}
#main_block_c{
    display: flex;
    flex-direction: row;
}
#block1{
    margin-left: auto;
}
#block2{
    margin-right: auto;
    margin-left: 10px;
}
/**/

.menucontrol{
    background-color: white;
    box-shadow: 0px 0px 5px #F48221;
    border-radius: 10px;
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.groupbtn{
    display: flex;
    flex-direction: row;
}

#btn1{
    width: 150px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: white;
    border: 1px solid #F48221;
    box-shadow: 0px 0px 5px #F48221;
    border-radius: 10px;
}
#btn1:active{
    background-color: #F48221;
}
#btn1 img{
    width: 20px;
    height: 20px;
    margin: auto;
}
#btn1 h1{
    margin: auto;
    width: 100px;
    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/**/
.shablonlist{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
#InSearch{
    width: 100%;
    height: 30px;
    margin-left: 5px;
    margin-bottom: 10px;
    border: 1px solid #F48221;
    box-shadow: 0px 0px 5px #F48221;
    border-radius: 10px 0px 0px 10px;
    padding-left: 10px;
}
#InSearch::placeholder{
    opacity: 0.4;
}
#SearchButton{
    height: 34px;
    width: 34px;
    background-color: #F48221;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #F48221;
    box-shadow: 0px 0px 5px #F48221;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    align-items: center;
    vertical-align: middle;
}
#SearchButton:active{
    background-color: white;
}
#searchimg{
    height: 20px;
    width: 20px;
}

/**/
.card{
    border: 1px solid #F48221;
    box-shadow: 0px 0px 5px #F48221;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
}
.title_date{
    display: flex;
    flex-direction: column;
}
.card h1{
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: normal;
}
.cardbuttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}
#cardbutton{
    margin-left: 4px;
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid #F48221;
    border-radius: 2px;
    box-shadow: 0px 0px 5px #F48221;
    display: flex;
    align-items: center;
}
#cardbutton:active{
    background-color: #F48221;
}
#cardimg{
    width: 20px;
    height: 20px;
    margin-left: -2px;
}

/**/
.mainp{
    background-color: white;
    box-shadow: 0px 0px 5px #F48221;
    border-radius: 10px;
    width: 800px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.mainp h1{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: normal;
}
#shablon_title {
    width: 50%;
    height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 1px solid #F48221;
    box-shadow: 0px 0px 5px #F48221;
    border-radius: 5px;
    padding-left: 10px;
}
#logoselect{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 350px;
    border: 1px solid #F48221;
    box-shadow: 0px 0px 5px #F48221;
    border-radius: 5px;
    font-size: 15px;
}
#typeselect{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    border: 1px solid #F48221;
    box-shadow: 0px 0px 5px #F48221;
    border-radius: 5px;
    font-size: 15px;
}
#colorselect{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    border: 1px solid #F48221;
    box-shadow: 0px 0px 5px #F48221;
    border-radius: 5px;
    font-size: 15px;
}
#addtask{
    width: 250px;
    height: 40px;
    border: 1px solid #F48221;
    box-shadow: 0px 0px 5px #F48221;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}
#addtask h1{
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: normal;
}
#addtask img{
    width: 30px;
    height: 30px;
}

/*Area for quest shablon*/
.qarea{
    margin-top: 10px;
    border: 1px solid #F48221;
    box-shadow: 0px 0px 5px #F48221;
    border-radius: 10px;
    width: 70%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
}
#qcolumn{
    margin-left: 10px;
}
#question_delete{
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 10px;
    border: 0px;
    background-color: #dedede00;
    display: flex;
    align-items: center;
    vertical-align: middle;
}
#question_delete:active{
    background-color:#F48221 ;
}

.qarea img{
    width: 20px;
    height: 20px;
}
#selecttype{
    width: 200px;
    border: 1px solid #F48221;
    box-shadow: 0px 0px 5px #F48221;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 10px;
}

/*Questions text*/
#short_text{
    margin-top: 10px;
    width: 400px;
    height: 100px;
    resize: vertical;
    padding-left: 10px;
    padding-top: 10px;
    font-family:Arial, Helvetica, sans-serif;
}
/*Answers_list*/
#answer_list{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
#answer_delete{
    width: 25px;
    height: 25px;
    background-color: #F48221;
    margin-left: 5px;
    border: 0px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
#answer_delete img{
    width: 13.5px;
    height: 13.5px;
    margin-left: auto;
    margin-right: auto;
}
#answer_text{
    height: 22px;
    width: 200px;
    border: 1px solid #F48221;
    box-shadow: 0px 0px 5px #F48221;
    border-radius: 5px;
    padding-left: 10px;
}
#answer_text::placeholder{
    opacity: 0.4;
}
#add_answer{
    width: 100px;
    height: 30px;
    margin-top: 10px;
    background-color: #F48221;
    border: 0px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
#add_answer img{
    width: 25px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
}
#res_col{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}
#res_item{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
#res_tit{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
#res_item h1{
    margin-top: 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
}
#res_item p{
    margin-top: 10px;
    font-family:Arial, Helvetica, sans-serif;  
    font-size: 15px; 
    margin-left: 10px;
}
#res_col{
    margin-top: 10px;
    border: 1px solid #F48221;
    box-shadow: 0px 0px 5px #F48221;
    background-color: white;
    border-radius: 5px;
}