*{
    margin: 0;
}
body{
    background-color: #DEDEDE;
}
header{
    background-color: white;
    height: 100px;
    filter: drop-shadow(0px 1px 5px #F48221);
    display:flex;
    flex-direction: row;
    align-content: center;
}
#logo{
    width: 250px;
    margin-left: 0px;
}
#pagetitle{
    width: 30%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
#forbutton{
    width: 250px;
}
header h1{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: normal;
}
#logoimg{
    width: 160px;
    height: 100px;
}


main{
    background-color: #DEDEDE;
    display: flex;
    flex-direction: column;
}
#inputs{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    width: 400px;
    height: 400px;

    background: #FFFFFF;

    box-shadow: 0px 0px 5px #F48221;
    border-radius: 10px;

    display: flex;
    align-items: center;
    vertical-align: middle;
}
.group{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#inputs h1{
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
}
#inputs input{
    width: 250px;
    height: 35px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px #F48221;
    border-radius: 10px;
    border-color: #f4832100;
    margin-top: 16px;
    margin-bottom: 46px;
    font-size: 15px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
#inputs input::placeholder{
  font-size: 15px;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  opacity: 0.4;
}
#inputs button{
    width: 150px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px #F48221;
    border-radius: 10px;
    border-color: #f4832100;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: black;
    margin-top: 0px;
}
#inputs button:active{
    background-color: #F48221;
}
#logoImg{
    width: 236px;
    height: 152px;
}
.password {
	position: relative;
}
.password-control {
	position: absolute;
	top: 26px;
	right: 10px;
	display: inline-block;
	width: 20px;
	height: 20px;
    background: url(https://snipp.ru/demo/495/view.svg) 0 0 no-repeat;
}
.password-control.view {
	background: url(https://snipp.ru/demo/495/no-view.svg) 0 0 no-repeat;
}